#container {
	width: 800px;
	margin: auto;
	overflow: auto;
	background-color: white;
	padding: 15px;
}

body {
	background-color: #f4f4f4;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: #666;
}

form {
	margin: 20px;
	text-align: center;
}

form div {
	margin: 10px;
}

.channelContainer {
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: 20px;
	font-size: 20px;
	margin-bottom: 20px;
	position: relative;
}

.close {
	color: #666;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
}

.close:after {
  content: '✖';
}

.index {
	display: none;
}

#loadingBar {
    width: 100%;
    background-color: grey;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#loadedIn {
    width: 1%;
    height: 5px;
    background-color: green;
}